<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Warn" packages="org.lognative.log4j2">
    <Appenders>
        <NativeFileAppender name="File" fileName="test-Log4j2.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </NativeFileAppender>
        <NativeAppender name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </NativeAppender>
        <File name="FileRegular" fileName="test-Log4j2Regular.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="ConsoleRegular">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="LoggerRegular" level="Info" additivity="False">
            <AppenderRef ref="ConsoleRegular"/>
        </Logger>
        <Logger name="LoggerFileRegular" level="Info" additivity="False">
            <AppenderRef ref="FileRegular"/>
        </Logger>
        <Logger name="LoggerFile" level="Info" additivity="False">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="LoggerConsole" level="Info" additivity="False">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="Error" additivity="False">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>